<?xml version="1.0" encoding="UTF-8" ?>

<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             version="2.1">

    <persistence-unit name="basicjpa" transaction-type="RESOURCE_LOCAL">

        <properties>
            <!-- 필수 속성 시작 -->
            <property name="jakarta.persistence.jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>
            <property name="jakarta.persistence.jdbc.user" value="root"/>
            <property name="jakarta.persistence.jdbc.password" value="jaejungscene"/>
            <property name="jakarta.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/test"/>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
            <!-- 필수 속성 끝 -->

            <!-- 애플리케이션이 실행되면서 데이터베이스에 테이블 자동 생성 -->
            <!-- create, update, validate, create-drop, none -->
            <!--            <property name="hibernate.hbm2ddl.auto" value="create"/>-->

            <property name="hibernate.show_sql" value="true"/>
            <property name="hibernate.format_sql" value="true"/>
        </properties>


    </persistence-unit>

</persistence>